<footer class="footer" id="footer">
    <div class="content">

        <nav class="level">

            <div class="level-item has-text-right">
                <p style="font-size: .9rem; opacity: .85">This is the demo of our open-source tool <strong>Brif</strong>,
                <br>designed to swiftly deploy <strong>IIIF data platforms</strong>.
                <br>You can find the source code on Github.</p>
            </div>

            <div class="level-item">
                <figure class="image is-48x48 icon-img">
                    <a href="https://github.com/pierrz/brif" target="_blank">
                        <img src="{{url_for('static', path='/icons/GitHub-Mark-120px-plus.png')}}" alt="Github logo">
                    </a>
                </figure>
            </div>

        </nav>
    </div>
</footer>
