<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Papel</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{url_for('static', path='/css/main.css')}}" rel="stylesheet" media="screen">
  </head>

  <body>
  <section class="section">

    <nav class="level">
      <div class="level-item has-text-centered" style="display: block;">
        <h1 class="title is-spaced">
          Papel
        </h1>
        <p class="subtitle is-spaced">
          work in progress
        </p>
      </div>
    </nav>
  </section>
  </body>
</html>
